@model List<Lab2.Models.Player>;


<h1>Lista zawodników</h1>
<p>
    <a class="btn btn-outline-success" asp-controller="Player" asp-action="Add">Dodaj zawodnika</a>
    <ul class="list-group list-group-flush">
        @{
            foreach (var player in Model)
            {
                <li class="list-group-item list-group-item-dark my-5 w-100">
                    <p><strong>Imie:</strong> @player.FIrstName</p>
                    <p><strong>Nazwisko:</strong> @player.LastName</p>
                    <p><strong>Kraj:</strong> @player.Country</p>
                    <p><strong>Data urodzenia:</strong> @player.BirthDate</p>
                    <p><strong>Klub:</strong> @player.Team.Name</p>
                    <p>
                        <strong>Pozycje:</strong>
                        @{
                            foreach (var pos in @player.Positions)
                            {
                                var positionsString = $" | {@pos.Name} ";
                                @positionsString
                            }
                        }
                        |
                    </p>
                    <p>
                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-PlayerId=@player.PlayerId> Edytuj</a>
                    </p>
                </li>
            }

        }
    </ul>
</p>