@model List<Lab2.Models.Player>;

<a asp-action="Add">Dodaj zawodnika</a>
<h1>Lista zawodników</h1>
<p>
    <ul>
        @{
            foreach (var player in Model)
            {
                <li>
                    Identyfikator: @player.PlayerId
                    Imie: @player.FIrstName
                    Nazwisko: @player.LastName
                    Kraj: @player.Country
                    Data urodzenia: @player.BirthDate
                    Klub: @player.Team.Name
                    Pozycje: 
                    @{
                        foreach (var pos in @player.Positions)
                        {
                            <p>@pos.Name</p>
                        } 
                    }
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-PlayerId=@player.PlayerId> Edytuj</a>
                </li>
            }

        }
    </ul>
</p>